CompileFlags:
  Compiler: clang
  Add:
    - -Ihome/trist007/dev/cielo/cielo/code
    - -Ihome/trist007/dev/cielo/cielo/code/GL
  Remove: [-x]
---

If:
  PathMatch: .*\.(c|h)$
CompileFlags:
  Add: [-x, c]

---

If:
  PathMatch: .*\.(cpp|cc|cxx|hpp)$
CompileFlags:
  Add: [-x, c++]
