CompileFlags:
  Compiler: clang
  Add:
    - -IC:/dev/cielo/cielo/code
  Remove: [-x]
---

If:
  PathMatch: .*\.(c|h)$
CompileFlags:
  Add: [-x, c]

---

If:
  PathMatch: .*\.(cpp|cc|cxx|hpp)$
CompileFlags:
  Add: [-x, c++]
